/*media query 990px*/
@media screen and (max-width:990px) 
{

.navbar{
    flex-direction: column;
    align-items: flex-start;
}

.navbar_menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    margin: 0;
}

#menu_item_link{
    padding: 8px 100px;
}

.navbar_menu .menu_item{
    width: 100%;
    text-align: center;
}

.navbar_icon{
    display: none;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.navbar_menu.active,
.navbar_icon.active{
    display: flex;
}

.navbar_menu.active{
    animation: fadein 1s;
}
/* 햄버거 */
label{
    display:flex;
    position:absolute;
    right:32px;
    flex-direction:column;
    width: 40px;
    height: 40px;
    cursor:pointer;
    align-items: flex-start;
}
   
label span{
    background: black;
    border-radius:10px;
    height:4px;
    margin:4.4px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
}
   
   
label span:nth-of-type(1){
    width:50%;
     
}
   
label span:nth-of-type(2){
    width:100%;
}
   
   
label span:nth-of-type(3){
    width:75%;
    
}
   
   
input[type="checkbox"]{
    display:none;
}
   
   
input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(5px,1px)
}
   
input[type="checkbox"]:checked ~ span:nth-of-type(2){
    transform-origin:top;
    transform:rotatez(-45deg)
}
     
input[type="checkbox"]:checked ~ span:nth-of-type(3){
    transform-origin:bottom;
    width:50%;
    transform: translate(17px,-7px) rotatez(45deg);
   
}
/* 햄버거 끝*/

}
/*media query 990px end*/
/*mddia query 550px*/
@media screen and (max-width:550px){

    #clock{
        font-size: 30px;
    }
    
    #clock_item{
        font-size: 30px;
        letter-spacing: 3px;
    }
    
    #clock_random{
        font-size: 20px;
    }
    
    }
/*mddia query 550px end*/