body{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

i{
    padding-left: 16px;
}
/*hover*/
.navbar_menu .menu_item a:hover{
    transition: background-color .5s;
    color: white;
    background-color: gray;
    border-radius: 6px;
}

#menu_item_link{
    display: inline-block;
    padding: 8px 10px;
}
/*hover end*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding: 20px 12px;
}

.navbar_logo{
    font-weight:bold;
    font-size: 30px;
}

.navbar_logo i{
    color: black;
}

.navbar_menu{
    display: flex;
    list-style: none;
}

.navbar_menu .menu_item{
    padding: 8px 20px;
}

.navbar_icon{
    display: flex;
    list-style: none;
    padding: 8px 20px;
    letter-spacing: 20px;
    padding-left: 0px;
}

#check{
    display: none;

}

/*clock*/
.clock_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock_text{
    display: flex;
    position: absolute;
    font-size: 30px;
    color: white;
    letter-spacing: 8px;
    flex-direction: column;
    align-items: center;
}

#clock, #clock_item{
    display: flex;
    color: white;
    letter-spacing: 10px;
    text-align: center;
}
/*clock end*/

.foo{
    margin: 0px;
    padding: 50px 0;
    width: 100%;
    text-align: center;
    background-color: gray;
    color: #FFEFE3;
}

.foo_icon{
    font-size: 50px;
}

/*media query*/
@media screen and (max-width:990px) 
{

.navbar{
    flex-direction: column;
    align-items: flex-start;
}

.navbar_menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    margin: 0;
}

#menu_item_link{
    padding: 8px 100px;
}

.navbar_menu .menu_item{
    width: 100%;
    text-align: center;
}

.navbar_icon{
    display: none;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.navbar_menu.active,
.navbar_icon.active{
    display: flex;
}

.navbar_menu.active{
    animation: fadein 1s;
}
/* 햄버거 */
label{
    display:flex;
    position:absolute;
    right:32px;
    flex-direction:column;
    width: 40px;
    height: 40px;
    cursor:pointer;
    align-items: flex-start;
}
   
label span{
    background: black;
    border-radius:10px;
    height:4px;
    margin:4.4px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
}
   
   
label span:nth-of-type(1){
    width:50%;
     
}
   
label span:nth-of-type(2){
    width:100%;
}
   
   
label span:nth-of-type(3){
    width:75%;
    
}
   
   
input[type="checkbox"]{
    display:none;
}
   
   
input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(5px,1px)
}
   
   
input[type="checkbox"]:checked ~ span:nth-of-type(2){
    transform-origin:top;
    transform:rotatez(-45deg)
}
   
   
input[type="checkbox"]:checked ~ span:nth-of-type(3){
    transform-origin:bottom;
    width:50%;
    transform: translate(17px,-7px) rotatez(45deg);
   
}
/* 햄버거 끝*/

}
/*media query end*/

